URL_BACKEND = 'http://localhost:XXXX'
URL_BACKEND_COMPETITIONS = URL_BACKEND + '/api/...'
URL_BACKEND_CLUBS = URL_BACKEND + '/api/...'
URL_BACKEND_PLAYERS = URL_BACKEND + '/api/...'
URL_BACKEND_PREDICT = URL_BACKEND + '/api/...'